.grass {
  background-color: #49D0B0;
}

.fire {
  background-color: #FC6C6D;
}

.water {
  background-color: #76BEFE;
}

.normal {
  background-color: #BDBA90;
}

.electric {
  background-color: #FFD74E;
}

.psychic {
  background-color: #FC71AE;
}

.fighting {
  background-color: #C45C5C;
}

.rock {
  background-color: #9BADD2;
}

.ground {
  background-color: #FEC173;
}

.flying {
  background-color: #B4D0D6;
}

.bug {
  background-color: #A1D04D;
}

.poison {
  background-color: #BB7FFC;
}

.dark {
  background-color: #474747;
}

.ghost {
  background-color: #5A3F7D;
}

.ice {
  background-color: #23DEE3;
}

.steel {
  background-color: #808080;
}

.dragon {
  background-color: #6055D6;
}

.fairy {
  background-color: #FFCFEB;
}
