.grass {
  background-color: #78C850;
}

.fire {
  background-color: #F08030;
}

.water {
  background-color: #6890F0;
}

.normal {
  background-color: #A8A878;
}

.electric {
  background-color: #F8D030;
}

.psychic {
  background-color: #F85888;
}

.fighting {
  background-color: #C03028;
}

.rock {
  background-color: #B8A038;
}

.ground {
  background-color: #E0C068;
}

.flying {
  background-color: #A890F0;
}

.bug {
  background-color: #A8B820;
}

.poison {
  background-color: #A040A0;
}

.dark {
  background-color: #705848;
}

.ghost {
  background-color: #705898;
}

.ice {
  background-color: #98D8D8;
}

.steel {
  background-color: #B8B8D0;
}

.dragon {
  background-color: #7038F8;
}

.fairy {
  background-color: #EE99AC;
}

// .grass {
//   background-color: #A7DB8D;
// }

// .fire {
//   background-color: #F5AC78;
// }

// .water {
//   background-color: #9DB7F5;
// }

// .normal {
//   background-color: #C6C6A7;
// }

// .electric {
//   background-color: #FAE078;
// }

// .psychic {
//   background-color: #FA92B2;
// }

// .fighting {
//   background-color: #D67873;
// }

// .rock {
//   background-color: #D1C17D;
// }

// .ground {
//   background-color: #EBD69D;
// }

// .flying {
//   background-color: #C6B7F5;
// }

// .bug {
//   background-color: #C6D16E;
// }

// .poison {
//   background-color: #C183C1;
// }

// .dark {
//   background-color: #A29288;
// }

// .ghost {
//   background-color: #A292BC;
// }

// .ice {
//   background-color: #BCE6E6;
// }

// .steel {
//   background-color: #D1D1E0;
// }

// .dragon {
//   background-color: #A27DFA;
// }

// .fairy {
//   background-color: #F4BDC9;
// }